* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/*

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */

:root {
  --main-color: #fcc419;
  --darker-main-color: #f08c00;
  --light-grey: #f1f3f5;
  --grey: #343a40;
  --black: #333333;
}

.headline-text {
  padding: 20px 20px 0 20px;
}

/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

.names {
  /* text-align: center; */
  font-size: 52px;
  color: var(--black);
}

.date {
  font-weight: 400;
  color: var(--black);
}

nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 20px;
  display: none;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--grey);
}

.headline {
  /* position: absolute; */
  background-image: url(img/beach.jpg);
  background-position: 85% 35%;
  height: 600px;
  background-size: 150%;
}

.sub-headline {
  margin: 50px 30px 0 30px;
  text-align: center;
  font-weight: 700;
  color: var(--black);
  font-size: 20px;
}

.div-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  align-items: center;
  /* margin: 20px 20px 20px 50px; */
  margin: 50px 30px 0 30px;
  gap: 20px;
}

.div-buttons a {
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  box-shadow: 0 2px 5px rgb(20, 20, 20, 0.2);
}

.rsvp {
  grid-column: span 3;
  background-color: var(--darker-main-color);
  color: var(--light-grey);
  font-size: 36px;
  font-weight: 600;
  box-shadow: 0 2px 5px rgb(20, 20, 20, 0.6);
}

.secondary {
  font-weight: 500px;
  font-size: 18px;
  background-color: var(--light-grey);
  color: var(--darker-main-color);
}

.contact {
  text-align: center;
  margin: 80px 20px 80px 20px;
  font-size: 20px;
  color: var(--black);
  font-weight: 700;
}

.email,
.email:link .email:visited {
  color: var(--darker-main-color);
}

.footer {
  background-color: var(--darker-main-color);
  color: var(--black);
  margin-top: 50px;
  padding: 30px 20px;
  font-weight: 500;
}

@media (width >= 600px) {
  .headline {
    height: 800px;
    background-position: 80% 45%;
    background-size: cover;
  }

  .names {
    font-size: 86px;
  }

  .date {
    font-size: 62px;
  }

  .div-buttons {
    width: 500px;
    margin: 50px auto !important;
  }

  .secondary {
    font-size: 24px;
  }

  .rsvp {
    font-size: 62px;
  }
}
